<br><hr>
<div class="cont justify-at-ceter">
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
    aria-controls="offcanvasTop">go to Rcidental Services</button>
    <br><hr>

<div class="offcanvas offcanvas-" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasTopLabel">Recidental Service</h5>
        <button type="button" class="btn-close text-reset btn-warning" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius quod maxime, perspiciatis nobis est
        distinctio aperiam dolore eos nemo, magnam voluptatem saepe nesciunt voluptatibus harum praesentium molestiae,
        obcaecati non consequuntur asperiores? Reiciendis, delectus voluptas nobis, error itaque nihil iste quia dolorem
        veritatis voluptates qui amet dignissimos enim consectetur quam illum cum perspiciatis repellendus magni, dolore
        ipsa molestias atque rerum quidem. Nihil quia harum veniam nulla doloremque hic pariatur quasi voluptatum
        voluptates officia, accusantium dignissimos molestiae eius, fugit rerum nesciunt in aspernatur. Maxime vel sequi
        ut. Earum repudiandae quas veniam ipsum quae quam cupiditate assumenda nihil, eum, odio vel! Aspernatur commodi
        sint provident fuga vitae doloribus similique harum, quisquam pariatur expedita ab minus! Quisquam deleniti
        aliquam asperiores minima quas error aliquid. Fugiat, porro. Libero modi ex nulla tempore saepe odio accusamus a
        sed hic sapiente totam magni quae molestiae maxime, natus sint alias! Vel neque commodi earum facilis iusto
        praesentium quibusdam? Dignissimos beatae minima, quo accusantium est corrupti? Rerum reiciendis animi cumque
        harum non voluptas ad illum, quasi quia aperiam! Id facilis modi facere sapiente fuga voluptatibus illum
        quibusdam nostrum laudantium expedita ex, velit officia laborum sunt mollitia magnam null
        a aliquam praesentium amet? Quo consectetur itaque sequi nesciunt facere mollitia?


    </div>
</div>
</div>