
<div class="container ">
<br>
<h1 style="color:gold"><b>About Us</b></h1>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card-1 h-100 ">
        <div class="card-body ">
            <i class="fa-solid fa-compass-drafting p-3  "  ></i>
          <h5 class="card-title">Work with The on The Market</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-1 h-100">
        
        <div class="card-body">
          <i class="fa-solid fa-helmet-safety p-3"></i>
          <h5 class="card-title">Planning and Design</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-1 h-100">
        
        <div class="card-body">
          <i class="fa-solid fa-plug-circle-bolt p-3"></i>
          <h5 class="card-title">Joining Reconstruction</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
 <u><h4 style="color:gold"> OUR BEST TEAM</h4></u>
 <h2><b>OUR TEAM</b></h2>
 <div class=" container-fluid ">
  <div class="icard " style="background-color:rgba(175, 134, 20, 0.315) ;">
    <div class="card-group " >
        <div class="card " >
          <img class="ci" src="../../../assets/img/ceo" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color:gold">C E O</h5><hr>
            <p class="card-text">Edverd Jonsen</p>
          
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/img/manager" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color:gold">Construction Manager</h5><hr>
            <p class="card-text">Remo Bolat</p>
            
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/img/assistent" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color:gold"> Contrution Asistanat</h5><hr>
            <p class="card-text">Jon Smith</p>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>