


<div class="container-fluid">
    <u><h2 style="color:gold">ARCHITECTURE</h2></u>
    <div class="row">
        <div class="col-6">
            <h3>SERVICE CONTRACT</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 Earum, consequatur cum ducimus fugiat reiciendis repudiandae officiis debitis iure consectetur explicabo aliquid temporibus quia minima accusamus, 
                 nulla doloremque quae! Aut, officia!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ullam atque iure,
                 amet nisi architecto tempore fuga hic exercitationem magnam nam ex quod inventore molestiae rem explicabo excepturi voluptate culpa? 
                Quaerat neque, ullam quis accusantium possimus animi tempora aut alias?</p>
        </div>
        <div class="col-6">
            <img [src]="r3">
            
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <h3>EXPERT ENGINEERS</h3>
            <p>
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                 Maecenas venenatis sollicitudin neque, ve Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                 Maecenas venenatis sollicitudin neque,
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                 Adipisci, sequi itaque quo dignissimos fugit similique voluptates enim repellat, dolores sit eius perspiciatis eos optio molestias inventore! Cum facere ipsum repudiandae, aliquam repellat velit.
                 Deserunt, tenetur fugiat minima eius nihil enim eligendi nemo quas.
                 Nemo, possimus illo atque delectus repudiandae iste.
            </p>
            <img [src]="r1" >
        </div>
        <br>
        <div class="col-6">
            <h3>POWERFULL PLANNING</h3>
            <p>
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                 Maecenas venenatis sollicitudin neque, ve Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                 Maecenas venenatis sollicitudin neque,
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                 Adipisci, sequi itaque quo dignissimos fugit similique voluptates enim repellat, dolores sit eius perspiciatis eos optio molestias inventore! Cum facere ipsum repudiandae, aliquam repellat velit.
                 Deserunt, tenetur fugiat minima eius nihil enim eligendi nemo quas.
                 Nemo, possimus illo atque delectus repudiandae iste.
            </p>
            <img [src]="r2" >
        </div>
    </div>
</div>
<br>
<br>


