
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<body>

<div class="container-fluid">
  <u><h2 style="color:gold">FEATURE WORK</h2></u>
  <div class="row">
    <div class="cards ">
      <div class="card col-4">
        <h2 class="card-title">Unlimited Color</h2>
        <img src="../../../assets/feature work/istockphoto-1" alt="">
        <p class="card-desc">Pinnipeds, commonly known as seals,[a] are a widely distributed and diverse clade of
          carnivorous, fin-footed, semiaquatic marine mammals. They comprise the extant families Odobenidae (whose only
          living member is the walrus), Otariidae (the eared seals: sea lions and fur seals), and Phocidae (the earless
          seals, or true seals).</p>
      </div>
      <div class="card col-4">
        <h2 class="card-title">Demo Home page</h2>
        <img src="../../../assets/feature work/homepage.jpg" alt="">
        <p class="card-desc">Pinnipeds, commonly known as seals,[a] are a widely distributed and diverse clade of
          carnivorous, fin-footed, semiaquatic marine mammals. They comprise the extant families Odobenidae (whose only
          living member is the walrus), Otariidae (the eared seals: sea lions and fur seals), and Phocidae (the earless
          seals, or true seals).</p>
      </div>
      <div class="card clo-4">
        <h2 class="card-title">Elementory Builder</h2>
        <img
          src="../../../assets/feature work/element.jpg"
          alt="">
        <p class="card-desc">Pinnipeds, commonly known as seals,[a] are a widely distributed and diverse clade of
          carnivorous, fin-footed, semiaquatic marine mammals. They comprise the extant families Odobenidae (whose only
          living member is the walrus), Otariidae (the eared seals: sea lions and fur seals), and Phocidae (the earless
          seals, or true seals).</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="cards  ">
      <div class="card col-4">
        <h2 class="card-title">Fully Responsive</h2>
        <img src="../../../assets/feature work/fully.jpg" alt="">
        <p class="card-desc">Pinnipeds, commonly known as seals,[a] are a widely distributed and diverse clade of
          carnivorous, fin-footed, semiaquatic marine mammals. They comprise the extant families Odobenidae (whose
          only
          living member is the walrus), Otariidae (the eared seals: sea lions and fur seals), and Phocidae (the
          earless
          seals, or true seals).</p>
      </div>
      <div class="card col-4">
        <h2 class="card-title">SEO Friendly</h2>
        <img src="../../../assets/feature work/seo.jpg" alt="">
        <p class="card-desc">Pinnipeds, commonly known as seals,[a] are a widely distributed and diverse clade of
          carnivorous, fin-footed, semiaquatic marine mammals. They comprise the extant families Odobenidae (whose
          only
          living member is the walrus), Otariidae (the eared seals: sea lions and fur seals), and Phocidae (the
          earless
          seals, or true seals).</p>
      </div>
      <div class="card clo-4">
        <h2 class="card-title">24/7 Support</h2>
        <img
          src="../../../assets/feature work/support.jpg"
          alt="">
        <p class="card-desc">Pinnipeds, commonly known as seals,[a] are a widely distributed and diverse clade of
          carnivorous, fin-footed, semiaquatic marine mammals. They comprise the extant families Odobenidae (whose
          only
          living member is the walrus), Otariidae (the eared seals: sea lions and fur seals), and Phocidae (the
          earless
          seals, or true seals).</p>
      </div>
    </div>
  </div>
</div>
</body>