
<div class="register">
    <div class="container registerForm" style="background-color: rgba(0,0,0,0.2);">
        <form [formGroup]="myRegistrationForm" (ngSubmit)="onRegister()">
            <div>
                <h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:azure">Register Your Profile</h2>
            </div><br>
            <div class="form-group">
                <label>Enter first name</label>
                <input type="text" name="name" class="form-control" formControlName="name" >
            </div><br>
            <div class="form-group">
                <label for="">Address</label>
                <input type="text" name="address" class="form-control" formControlName="address">
            </div><br>
            <div class="form-group">
                <label for="">Contact number</label>
                <input type="tel" name="contact" class="form-control" formControlName="contact">
            </div><br>
            <div class="form-group">
                <label for="">Email Id</label>
                <input type="email" name="email" class="form-control" formControlName="email">
            </div><br>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control" formControlName="password">
            </div><br>
            <div class="form-group">
                <label>Role</label>
                <input type="text" name="role" class="form-control" formControlName="role">
            </div><br>
            <button class="btn btn-warning">Submit</button>
        </form>
    </div>
    <div class="container">
        
        <div class="text-box2 text-white">
            <span><b>CONSTROTech</b></span><br>
            <span><b>MANAGERS</b> &nbsp;<b style="color:rgb(255, 208, 0) ;">SINCE 1981</b></span>
            <span style="font-family:'Times New Roman', Times, serif;"><h3><p>Fast And Reliable Service For Your Project</p></h3></span>
            <span style="size: 15px;"><button type="button" class="btn bg-warning">Read More</button></span>
        </div>
    </div>
</div>
