<div class="container-fluid text-white" style="background-color:rgba(0, 0, 0, 0.712);">
    <div class="row">

        <div class="col-4">

            <h1> about US</h1>
            <hr>
            Building isn’t just a job. At the Construction Company, it is our passion. With every project we undertake,
            we set the bar high and provide the best people in the industry,
            with a true love of what we do to make our Customers’ vision a reality.
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <ul class="text-white">
                        <h1>CompanyLinks</h1>
                        <hr>
                        <li class="">
                            <a class="text-decoration-none abc" href="#">{{case1}}</a>
                        </li>
                        <li>
                            <a class="text-decoration-none abc" href="#">{{case2}}</a>
                        </li>
                        <li>
                            <a class="text-decoration-none abc" href="#">{{case3}}</a>
                        </li>

                    </ul>
                </div>
                <div class="row">
                    
                    <div class="col-6">
                        <ul class="text-white">
                            <li>
                                <a class="text-decoration-none abc" href="#">{{case4}}</a>
                            </li>
                            <li>
                                <a class="text-decoration-none abc" href="#">{{case5}}</a>
                            </li>
                            <li>
                                <a class="text-decoration-none abc" href="#">{{case6}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-4">
            <h1>Contact Info</h1>
            <hr>
            Address:1379 Shoreline Parkway, Mountain View, CA 94043, United States <br>
            Phone:+1 718-999-3939<br>
            E-mail:contact@construction.com
        </div>


    </div>






</div>