
<div>
  <app-header></app-header>
</div>
<header class="nav">
  <div class="deco" >
    <nav class="navbar navbar-expand-lg navbar-lightyellow text-white" style="background-color: rgba(0,0,0,0.2);">
      <div class="container">
        <div>
          <a class="navbar-item" routerLink="#">
            <img src="../assets/Image/logo-light.png" alt="">
          </a>  
        </div>      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          
        </button>
      <div class="collapse navbar-collapse justify-content-end text-white" id="navbarNavAltMarkup">
        <div class="navbar-nav text-white">
          <div class="text-white">
            <ul class="nav navbar-nav">
              <li class="nav-item dropdown dropdown-1">  
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="home">
                  Home
                </a>
                <ul class="dropdown-menu dropdown-1-menu bg-" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="home/about-us">Aboutus</a></li>
                  <li><a class="dropdown-item" routerLink="home/future-work">Future Work</a></li>
                  <li><a class="dropdown-item" routerLink="home/offers">Offers</a></li>
                </ul>
              </li>
              <br><br>
              <li class="nav-item dropdown dropdown-1">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="portfolio">
                  PortFolio
                </a>
                <ul class="dropdown-menu dropdown-1-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="portfolio/commercial">Commercial</a></li>
                  <li><a class="dropdown-item" routerLink="portfolio/education">Education</a></li>
                  <li><a class="dropdown-item" routerLink="portfolio/industrial">Industrial</a></li>
                  <li><a class="dropdown-item" routerLink="portfolio/residential">Residential</a></li>
                </ul>
              </li>
              <br><br>
              <li class="nav-item dropdown dropdown-1">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="cities">
                  Cities
                </a>
                <ul class="dropdown-menu dropdown-1-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="cities/pune">Pune</a></li>
                  <li><a class="dropdown-item" routerLink="cities/mumbai">Mumbai</a></li>
                </ul>
              </li>
            <ul>
            </ul>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- <div class="slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/Image/slide2.jpg" class="d-block w-100" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="../assets/Image/slide1.jpg" class="d-block w-100" alt="...">
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
</div> -->

<div>
  <router-outlet></router-outlet>
</div>
<div>
  <app-footer></app-footer>
</div>
