
<div class="container-fluid text-white " style="background-color:rgba(0, 0, 0, 0.712);">
    <div class="row">

        <div class="col-4">

            <h1> about US</h1><hr>
            <img src="/assets/image/logo-dark.png" alt="">
            Building isn’t just a job. At the Construction Company, it is our passion. With every project we undertake,
            we set the bar high and provide the best people in the industry,
            with a true love of what we do to make our Customers’ vision a reality.
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <ul class="text-white">
                        <h1>CompanyLinks</h1><hr>
                        <li class="">
                            <a class="text-decoration-none abc" href="#">History</a>
                        </li>
                        <li>
                            <a class="text-decoration-none abc" href="#">Team & Awards</a>
                        </li>
                        <li>
                            <a class="text-decoration-none abc" href="#">Community</a>
                        </li>
                        <li>
                            <a class="text-decoration-none abc" href="#">News & Events</a>
                        </li>
                        <li>
                            <a class="text-decoration-none abc" href="#">FAQ</a>
                        </li>
                        <li>
                            <a class="text-decoration-none abc" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6">

                </div>

            </div>


        </div>
        <div class="col-4">
            <h1>Contact Info</h1><hr>
            Address:1379 Shoreline Parkway, Mountain View, CA 94043, United States
            Phone:+1 718-999-3939
            E-mail:contact@construction.com
        </div>


    </div>






</div>