<u>
    <h1 style="color:gold">{{h1}}</h1>
</u>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h3>SERVICE CONTRACT</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum, consequatur cum ducimus fugiat reiciendis repudiandae officiis debitis iure consectetur explicabo
                aliquid temporibus quia minima accusamus,
                nulla doloremque quae! Aut, officia!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ullam atque iure,
                amet nisi architecto tempore fuga hic exercitationem magnam nam ex quod inventore molestiae rem
                explicabo excepturi voluptate culpa?
                Quaerat neque, ullam quis accusantium possimus animi tempora aut alias?</p><br>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, earum nemo
            similique optio magnam enim rerum labore dolore possimus repellendus molestias quaerat esse
            adipisci, quisquam eaque laborum sapiente atque! Rerum ipsam dolore et autem explicabo minus
            voluptatibus tenetur magnam corrupti porro. Autem magnam molestias eius eos obcaecati mollitia
            pariatur, esse nobis explicabo vitae rerum iste accusantium ducimus quam in voluptas neque quidem fugit
            unde, quae minima! Omnis quo porro fugiat nemo sapiente eum consequatur est voluptas tempora magnam, sed
            minus pariatur perferendis, quos beatae maxime commodi quas aut dolores reiciendis laudantium?
            Voluptatum accusantium molestiae asperiores eius placeat ipsum possimus ratione.
        </div>
        <div class="col-6">
            <img [src]="i1">

        </div>

    </div>
    <div class="row">

    <div class="col-6">
        <img [src]="i2">

    </div>
        <div class="col-6">
            <h3>SERVICE CONTRACT</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum, consequatur cum ducimus fugiat reiciendis repudiandae officiis debitis iure consectetur explicabo
                aliquid temporibus quia minima accusamus,
                nulla doloremque quae! Aut, officia!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ullam atque iure,
                amet nisi architecto tempore fuga hic exercitationem magnam nam ex quod inventore molestiae rem
                explicabo excepturi voluptate culpa?
                Quaerat neque, ullam quis accusantium possimus animi tempora aut alias?</p><br>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, earum nemo
            similique optio magnam enim rerum labore dolore possimus repellendus molestias quaerat esse
            adipisci, quisquam eaque laborum sapiente atque! Rerum ipsam dolore et autem explicabo minus
            voluptatibus tenetur magnam corrupti porro. Autem magnam molestias eius eos obcaecati mollitia
            pariatur, esse nobis explicabo vitae rerum iste accusantium ducimus quam in voluptas neque quidem fugit
            unde, quae minima! Omnis quo porro fugiat nemo sapiente eum consequatur est voluptas tempora magnam, sed
            minus pariatur perferendis, quos beatae maxime commodi quas aut dolores reiciendis laudantium?
            Voluptatum accusantium molestiae asperiores eius placeat ipsum possimus ratione.
        </div>


    <div class="col6">

        <a href="#" class="btn btn-warning">Go home page</a>
    </div>


</div>

<br>
<br>