
<section class="imgslider" >
    <h1> <marquee width="100%" behavior="alternate"> Welcome To Pune</marquee></h1>
    <p>You Think..We Build..!!</p>
    <div id="slider">
      <figure>
        <img src="../../assets/Images/img1.jpg" alt="">
        <img src="../../assets/Images/img2.jpg" alt="">
        <img src="../../assets/Images/img23.jpg" alt="">
        <img src="../../assets/Images/img24.jpg" alt="">
        <img src="../../assets/Images/img25.jpg" alt="">
      </figure>
    </div>
  </section>

  <section class="portfolio bg-light ">
    <div class="container text-center">
      <h1 style="background-color:yellow ;" > <marquee width="100%" behavior="alternate">Our TopBuilders</marquee></h1>
      <h5>You think.....we Build..!!</h5>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class="card">
            <img src="../../assets/Images/shirke2.jpg"  class="card-img img-fluid " alt="">
            <div class="card-body">
              <h4 class="card-title" >B.G Shirke Construction </h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto repellendus porro sint dolore, soluta adipisci tempora. Natus veniam ipsa enim porro! Doloribus consequatur provident perferendis deleniti quod cum, repudiandae alias.</p>
              <h6 class="card-subtitle">Total Project <span class="value">600</span></h6>
                  <h6 class="card-subtitle">Under Construction Project <span class="value">200</span></h6>
                  <h6 class="card-subtitle">New Project <span class="value">300</span></h6>
                  <h6 class="card-subtitle">Complited Project <span class="value">400</span></h6>
                  <button type="button" class="btn btn-dark">Know More </button>
            </div>
          
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
            <div class="card">
              <img src="../../assets/Images/Ashoka.jpg"  class="card-img img-fluid " alt="">
              <div class="card-body">
                <h4 class="card-title" >Ashoka Construction</h4>
                <p>{{data}}</p>
                <h6 class="card-subtitle">Total Project <span class="value">400</span></h6>
                    <h6 class="card-subtitle">Under Construction Project <span class="value">120</span></h6>
                    <h6 class="card-subtitle">New Project <span class="value">150</span></h6>
                    <h6 class="card-subtitle">Complited Project <span class="value">280</span></h6>
                    <button type="button" class="btn btn-dark">Know More </button>
              </div>
            
            </div>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class="card">
            <img src="../../assets/Images/industrial.jpg"  class="card-img img-fluid " alt="">
            <div class="card-body">
              <h4 class="card-title" >Gera Construction</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate numquam alias quo temporibus pariatur officia, labore omnis quaerat est minima fugiat ratione natus quisquam. Illo saepe quaerat labore perspiciatis architecto!</p>
              <h6 class="card-subtitle">Total Project <span class="value">300</span></h6>
                  <h6 class="card-subtitle">Under Construction Project <span class="value">60</span></h6>
                  <h6 class="card-subtitle">New Project <span class="value">120</span></h6>
                  <h6 class="card-subtitle">Complited Project <span class="value">240</span></h6>
                  <button type="button" class="btn btn-dark">Know More </button>
            </div>
          
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class="card">
            <img src="../../assets/Images/Bhate & Raje.jpg"  class="card-img img-fluid " alt="">
            <div class="card-body">
              <h4 class="card-title" >Bhate & Raje Construction</h4>
              <p>{{data}}</p>
              <h6 class="card-subtitle">Total Project <span class="value">200</span></h6>
                  <h6 class="card-subtitle">Under Construction Project <span class="value">70</span></h6>
                  <h6 class="card-subtitle">New Project <span class="value">50</span></h6>
                  <h6 class="card-subtitle">Complited Project <span class="value">130</span></h6>
                  <button type="button" class="btn btn-dark">Know More </button>
            </div>
          
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
          <div class="card">
            <img src="../../assets/Images/deshpande.jpg"  class="card-img img-fluid " alt="">
            <div class="card-body">
              <h4 class="card-title" >DSL Construction co.in</h4>
              <p>{{data}}</p>
              <h6 class="card-subtitle">Total Project <span class="value">500</span></h6>
                  <h6 class="card-subtitle">Under Construction Project <span class="value">40</span></h6>
                  <h6 class="card-subtitle">New Project <span class="value">48</span></h6>
                  <h6 class="card-subtitle">Complited Project <span class="value">460</span></h6>
                  <button type="button" class="btn btn-dark">Know More </button>
            </div>
          
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
            <div class="card">
              <img src="../../assets/Images/green.jpg"  class="card-img img-fluid " alt="">
              <div class="card-body">
                <h4 class="card-title" >Kolte-Patil Devlopers</h4>
                <p>{{data}}</p>
                <h6 class="card-subtitle">Total Project <span class="value">650</span></h6>
                    <h6 class="card-subtitle">Under Construction Project <span class="value">60</span></h6>
                    <h6 class="card-subtitle">New Project <span class="value">96</span></h6>
                    <h6 class="card-subtitle">Complited Project <span class="value">590</span></h6>
                    <button type="button" class="btn btn-dark">Know More </button>
              </div>
            
            </div>
          </div>
      </div>
    </div>
  
  </section>
  