
<div class="container-fuild">
    <div class="row AboutHeading align-items-center bg-warning">
        <h3 class="ps-5">About Us</h3>
    </div>
    <div class="row aboutFirst ">
        <div class="col-4 ">
            
           <strong class="ms"> {{aboutData[0].heading}}</strong> <br>
            {{aboutData[0].description}}
        </div>
        <div class="col-4">
            
            <strong class="ms"> {{aboutData[1].heading}}</strong> <br>
             {{aboutData[1].description}}
        </div>
        <div class="col-4">
            
            <strong class="ms"> {{aboutData[2].heading}}</strong> <br>
             {{aboutData[2].description}}
        </div>
    </div>
    <div class="row SecondDiv backImage">
        <div class="col-6 ps-5">
            <h1>WE BUILD PROFESSIONAL
                AND SMART BUILDINGS</h1><br>

                <button class="btn btn-warning ms-5">GET A QUOTE</button>
        </div>
        <div class="col-6">
           <div class="pt-4">
            <label for="" class="pb-2">DESIGN AND BUILD</label>
            <div class="progress">
                <div class="progress-bar bg-warning" style="width: 95%" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
           </div>
           <div class="pt-4">
              <label for="" class="pb-2">INTERIOR AND EXTERIOR</label>
            <div class="progress">
                <div class="progress-bar bg-warning" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="pt-4">
              <label for="" class="pb-2">DESIGN AND BUILD</label>
            <div class="progress">
                <div class="progress-bar bg-warning" style="width: 85%" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              </div>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
