<h1><p>commercial!</p></h1>

<div class="container">
    <div class="row">
    <img [src]="i1" alt="">
</div>


    <nav class="bg-warning p-3 d-flex justify-content-center">
        <h3>{{h1}}</h3>
    </nav>
    <div class="container">
        <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas adipisci provident porro. Officia maxime explicabo nesciunt neque?
             Blanditiis itaque ratione neque aliquid minima dolore accusamus? Molestiae modi deleniti cum assumenda.
        </h5><br>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, quas!

            <br>Lorem ipsum dolor, 
            sit amet consectetur adipisicing elit. Vitae obcaecati a, doloremque assumenda voluptas nostrum!

            <br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis sint quia soluta voluptatum qui rem odit incidunt laborum, a repudiandae.


            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, delectus?


        </p>
    </div>
    <div class="container-fluid justify-content-center">
    <a href="#" class="btn btn-warning ">Go  to home page</a><hr>

</div>