/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* body{
    background-image: url('https://as1.ftcdn.net/v2/jpg/04/32/19/82/1000_F_432198200_PDWwHYChXKbNOaLgAefAEkIogeNnXlEn.jpg');
} */




/* 
body{
  
    background-image:url("https://cavendishmaxwell.com/resources/uploads/2019/05/New-construction-contracts-awarded-for-major-projects-min.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    height: 100vh;

    
} */